<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <authentication mode="Forms"/>
    <authorization>
      <allow users ="*" />
    </authorization>

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService11" />
        <binding name="BasicHttpBinding_IService12" />
        <binding name="BasicHttpBinding_IService13" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webstrar40.fulton.asu.edu/Page8/Tax.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="TaxService.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://webstrar40.fulton.asu.edu/Page8/Dollar.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
        contract="DollarService.IService1" name="BasicHttpBinding_IService11" />
      <endpoint address="http://webstrar40.fulton.asu.edu/Page8/Bill.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12"
        contract="BillReference.IService1" name="BasicHttpBinding_IService12" />
      <endpoint address="http://webstrar40.fulton.asu.edu/Page8/Medicine.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService13"
        contract="MedicineService.IService1" name="BasicHttpBinding_IService13" />
    </client>
  </system.serviceModel>
</configuration>